.header {
    background-color: #1F1F1F;
    max-width: 40%;
}

.body {
    margin-top: 1%;
    margin-left: 1%;
    background-color: #1F1F1F;
}

.main {
    color: white;
    display: flex;
    justify-content: center;
    margin-right: 15%;
}

.entrar {
    font-size: 110%;
    border-radius: 75px;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 10%;
    padding-left: 10%;
    border-color: transparent;
    opacity: 50%;
    background-color: rgb(255, 255, 255);
    margin-left: 213%;
    margin-top: 10%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.entrar:hover {
    background-color:#ffb300;
    color: white;
    border-radius: 0;
    transition-duration: 0.4s;
    border-radius: 75px;
    
    
}

.hrefbutton {
    color: black;
}


.divInput {
    border: 1%;
    border-color: red;
    border-top: 2px;
    max-width: 20%;

}

.loginMsg {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 140%;
    overflow-wrap: break-word;
    inline-size: 80%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
}


.loginTitleMsg {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

.input {
    padding-bottom: 10%;
    padding-top: 10%;
    padding-left: 10%;
    border: 30%;
    background-color: #F1F7EE;
    opacity: 50%;
    border-radius: 250px;
    font-size: large;
    inline-size: 230%;
    padding-right: 10%;
}

.foto_cliente {
    border-radius: 500px;
    height: 2000%;
}

.cliente {
    position: absolute;
    left: 2%;
    height: 10px;
    display: flex;
    inline-size: 30%;
    bottom: 30%;
    max-width: 30%;

}

.textCliente {
    margin-left: 10%;
    opacity: 75%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
}