#topBar {
    margin-left: 1%;
    padding-bottom: 2%;
}

#searchBarInput {
    margin-left: 20%;
    padding-bottom: 1%;
    padding-right: 20%;
    border: 30%;
    background-color: #F1F7EE;
    opacity: 50%;
    border: 5px black;
}

#id {
    background-image: url("imagens/PHOTO_CARROUSEL.jpg");
    width: 100px;
    /*width of your image*/
    height: 100px;
    /*height of your image*/
}

#carrousel {
    height: 50%;
    width: 100%;
}

#titleCarrousel {
    margin-top: -35%;
    margin-left: 35%;
    color: #F1F7EE;
    font-size: 300%;
    font-family: 'Courier New', Courier, monospace;

}

#barSelection {
    padding: 17%;
    background-color: #1F1F1F;
}



#footer {
    background-color: #1F1F1F;
    padding-bottom: 20%;
}

#backgroundItem {
    background-color: #1F1F1F;
    padding-right: 20%;
    padding-top: 18%;
    padding-bottom: 2%;
    margin-right: -3%;
    border-radius: 2%;
    margin-left: 3%;
    margin-top: 10%;
    text-align: left;
}


#spacament {
    margin-top: 2%;
    margin-bottom: 2%;
}

#descriptionTextBox {
    color: #1F1F1F;
}

.bodyGallery {
    background-color: white;
    padding-bottom: 44%;

}

.itemE {
    background-color: #1F1F1F;
    float: left;
    width: 35%;
    margin-left: 14%;
    margin-bottom: 1%;
    margin-top: 1%;
}

.itemD {
    background-color: #1F1F1F;
    float: right;
    width: 35%;
    margin-right: 14%;
    margin-bottom: 1%;
    margin-top: 1%;
}

.itemfs {
    float: right;
}

#imagemDestaque {
    height: 300px;
    width: 300px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    float: left;

}

.title {
    font-size: 170%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.description{
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}

.price {
    font-size: 170%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    float: right;
    margin-right: 2%;
}