<footer>
    <!-- div 1 -->
    <div class="footer">
        <div class="divFooter">
            <p title class="titleFooter">GAMEMANIA</p>
            <p>
                <a text class="textFooter" href="https://google.com">FÓRUM</a>
            </p>
            <p>
                <a text class="textFooter" href="https://google.com">FAC</a>
            </p>
            <p>
                <a text class="textFooter" href="https://google.com">AJUDA</a>
            </p>
            <p>
                <a text class="textFooter" href="https://google.com">QUEM SOMOS</a>
            </p>
            <p>
                <a text class="textFooter" href="https://google.com">TRABALHE COM A GENTE</a>
            </p>
        </div>
        <!-- div 2 -->
        <div class="qrdiv">
            <img src="assets\img\qrcode.png">
        </div>
    </div>


    <form>
        <button class="buttonSocial">
            <img src="assets\img\FACEBOOK.png" class="imagemSocial">
        </button>
        <button class="buttonSocial">
            <img src="assets\img\INSTAGRAM.png" class="imagemSocial">
        </button>
        <button class="buttonSocial">
            <img src="assets\img\LINKEDIN.png" class="imagemSocial">
        </button>
        <button class="buttonSocial">
            <img src="assets\img\TELEGERAM.png" class="imagemSocial">
        </button>
        <button class="buttonSocial">
            <img src="assets\img\EMAIL.png" class="imagemSocial">
        </button>

    </form>
</footer>