<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets\img\carrousel\1.jpg" class="d-block w-100" alt="imagem_1">
        </div>
        <div class="carousel-item">
            <img src="assets\img\carrousel\2.jpg" class="d-block w-100" alt="imagem_2">
        </div>
        <div class="carousel-item">
            <img src="assets\img\carrousel\3.jpg" class="d-block w-100" alt="imagem_3">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<form class="barSelection">
    <button type="submit" class="itemSelection"
        formaction="https://lista.mercadolivre.com.br/jogos#D[A:jogos]">JOGOS</button>
    <button type="submit" class="itemSelection"
        formaction="https://lista.mercadolivre.com.br/pc-gamer#D[A:pc%20gamer]">PCGAMER</button>
    <button type="submit" class="itemSelection"
        formaction="https://lista.mercadolivre.com.br/notebook#D[A:notebook]">NOTEBOOK</button>
    <button type="submit" class="itemSelection"
        formaction="https://lista.mercadolivre.com.br/celular#D[A:celular]">CELULARES</button>
</form>
<form class="bodyGallery">
    <!-- first line gallery -->
    <button type="submit"
        formaction="https://www.mercadolivre.com.br/microsoft-xbox-series-x-1tb-standard-cor-preto/p/MLB16160759?pdp_filters=category:MLB11172#searchVariation=MLB16160759&position=2&search_layout=grid&type=product&tracking_id=6f8071f1-e4af-454f-8346-a87699823931"
        class="itemE" id="itemDestaque">
        <img id="imagemDestaque" src="assets\img\ffSk.svg">
        <div>
            <h3 class="title">XBOXSERIEX</h3>
            <a class="description">Console XBOX Serie X 512GB</a>
            <p class="price">R$:5045,99</p>
        </div>

    </button>
    <button type="submit"
        formaction="https://www.mercadolivre.com.br/sony-playstation-5-825gb-digital-edition-cor-branco-e-preto/p/MLB16253015?pdp_filters=category:MLB11172#searchVariation=MLB16253015&position=4&search_layout=grid&type=product&tracking_id=0581c42a-1725-4e0e-be8b-c7814ce74feb"
        class="itemD" id="itemDestaque">
        <img id="imagemDestaque" src="assets\img\fsSk.svg">
        <div>
            <h3 class="title">PLAYSTATION 5</h3>
            <a class="description">Console Playstation 5 512GB</a>
            <p class="price">R$:5659,90</p>
        </div>

    </button>
</form>
<form class="bodyGallery">
    <button type="submit"
        formaction="https://www.mercadolivre.com.br/nintendo-switch-32gb-standard-cor-vermelho-neon-azul-neon-e-preto/p/MLB8755483?pdp_filters=category:MLB11172#searchVariation=MLB8755483&position=14&search_layout=grid&type=product&tracking_id=e2fb95b3-daa0-4faa-bb72-276b758720f9"
        class="itemE" id="itemDestaque">
        <img id="imagemDestaque" src="assets\img\sfSk.svg">
        <div>
            <h3 class="title">NINTENDO SWITCH</h3>
            <a class="description">Nintendo Switch 32GB</a>
            <p class="price">R$:2369,99</p>
        </div>

    </button>
    <button type="submit"
        formaction="https://produto.mercadolivre.com.br/MLB-2068594526-computador-gamer-intel-i5-11400f-16gb-gtx-1650-ssd-240gb-_JM#position=42&search_layout=grid&type=item&tracking_id=0e54aca6-58cf-4aad-9310-8ee3945d183e"
        class="itemD" id="itemDestaque">
        <img id="imagemDestaque" src="assets\img\ssSk.svg">
        <div>
            <h3 class="title">PC GAMER</h3>
            <a class="description">Computador de alto desempenho</a>
            <p class="price">R$:4557,52</p>
        </div>

    </button>
</form>