<div class="topBARcommands">
    <div class="topBARcommands_logo">
        <img class="logo" src="assets\img\LOGO.svg">
    </div>
    <div class="topBARcommands_searchbar">
        <input type="text" name="text" class="searchBarInput" placeholder="Pesquisar...">
    </div>

    <div class="topBARcommands_buttons">
        <a href="https://facebook.com/" class="iconTopLink">
            <img src="assets\img\marketicon.png" class="iconTopImage">
        </a>
        <a href="login.html" class="iconTopLink">
            <img src="assets\img\profileicon.png" class="iconTopImage">
        </a>
    </div>

</div>